# EditorConfig is awesome: https://editorconfig.org

root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Settings for Go files
[*.go]
indent_style = tab
indent_size = 4

# Settings for Bash scripts
[*.sh]
indent_style = space
indent_size = 4
