# Ignore everything and use an allowlist of what is allowed to not package any secrets by accident.
*

# Allow files and directories.
!blog/
!docs/
!landing/
!public/
!pkg/
!Caddyfile
!*.js
!*.json
!blume.config.ts
!theme.css
!components.ts
!components/
!integrations/

# Ignore unnecessary files inside allowed directories.
**/.DS_Store
