# Ignore everything and use an allowlist of what is allowed to not package any secrets by accident.
*

# Allow files and directories.
!blog/
!docs/
!landing/
!src/
!static/
!pkg/
!Caddyfile
!*.js
!*.json

# Ignore unnecessary files inside allowed directories.
**/.DS_Store
