services:
  uncloud-website:
    image: ghcr.io/psviderski/uncloud-website
    build:
      cache_from:
        - type=gha,scope=uncloud-website
      cache_to:
        - type=gha,mode=max,scope=uncloud-website
      platforms:
        - linux/amd64
        - linux/arm64
    user: nobody
    x-ports:
      - uncloud.run:8000/https
    scale: 2
    # TODO: remove x-machines after destroying uc-prod-us1
    x-machines:
      - uc-prod-ap1
      - uc-prod-us2
